<nav class="vertical-navbar">
  <h4><strong><i>{{ title }}</i></strong></h4>
  <ul>
    <li>
      <a [routerLink]="['/transactions']" (click)="updateTitle('My Transactions')">
        <fa-icon [icon]="transactionsLog"></fa-icon>
        <span class="nav-text"><strong><i>View all transactions</i></strong></span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/add']" (click)="updateTitle('Add Transaction')">
        <fa-icon [icon]="transaction"></fa-icon>
        <span class="nav-text"><strong><i>Add Transaction</i></strong></span>
      </a>
    </li>
    <li>
      <a href="#" (click)="updateTitle('Finances Analytics')">
        <fa-icon [icon]="chart"></fa-icon>
        <span class="nav-text"><strong><i>Monitoring</i></strong></span>
      </a>
    </li>
    <li>
      <a href="#" (click)="updateTitle('Annual Overview')">
        <fa-icon [icon]="overview"></fa-icon>
        <span class="nav-text"><strong><i>Finances Overview</i></strong></span>
      </a>
    </li>
    <li>
      <a href="#" (click)="updateTitle('Setup Income-Expenses')">
        <fa-icon [icon]="settings"></fa-icon>
        <span class="nav-text"><strong><i>Settings</i></strong></span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/userprofile']" (click)="updateTitle('User Profile')">
        <fa-icon [icon]="user"></fa-icon>
        <span class="nav-text"><strong><i>Profile</i></strong></span>
      </a>
    </li>
  </ul>
</nav>
