.app-container {
  display: flex;
  flex-direction: column; /* Stack header, main, and footer vertically */
  min-height: 100vh; /* Assure that the container full viewport height */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 16px;
}

.footer-color {
  background-color: #1a237e;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 5px;
  gap: 10px;
}

app-sidebar {
  flex-direction: column;
  gap: 10px;
}

.sidebar a {
  padding: 8px 16px;
  text-decoration: none;
  color: inherit;
}

.main-content {
  flex: 1;
  padding: 1rem;
  background-color: darkgrey;/* Light background for contrast: #f9f9f9 */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
