<div class="container-fluid px-4">
  <div class="row g-4 mb-4">
    <!-- Sum of Income items -->
    <div class="col-md-4">
      <div class="card h-100 bg-info bg-opacity-75 text-white">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Total Income</h5>
            <i class="fa-solid fa-hand-holding-dollar fa-2x"></i>
          </div>
          <h3 class="card-text">{{getTotalIncome() | currency: 'EUR'}}</h3>
        </div>
      </div>
    </div>

    <!-- Sum of Expense items -->
    <div class="col-md-4">
      <div class="card h-100 bg-warning bg-opacity-75 text-white">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Total Expenses</h5>
            <i class="bi bi-calculator-fill fa-2x"></i>
          </div>
          <h3 class="card-text">{{getTotalExpenses() | currency: 'EUR'}}</h3>
        </div>
      </div>
    </div>

    <!-- Net Income - Amount of income left after all deductions taken out -->
    <div class="col-md-4">
      <div class="card h-100 text-white" [ngClass]="getNetBalance() < 0 ? 'bg-danger bg-opacity-75' : 'bg-success bg-opacity-75'">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Net Balance</h5>
            <i class="fa fa-suitcase fa-2x"></i>
          </div>
          <h3 class="card-text fw-bold">{{getNetBalance() | currency: 'EUR'}}</h3>
        </div>
      </div>
    </div>
  </div>

  <h3>Transactions</h3>
  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th style="width: 15%">Date</th>
          <th style="width: 15%">Type</th>
          <th style="width: 25%">Category</th>
          <th style="width: 20%">Amount</th>
          <th style="width: 15%">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for(transaction of transactions; track transaction.id) {
        <tr>
          <td>{{ transaction.createdAt | date : 'dd/MM/yyyy' }}</td>
          <td [ngClass]="transaction.type === 'Income' ? 'text-success' : 'text-danger'">{{ transaction.type }}</td>
          <td>{{ transaction.category }}</td>
          <td [ngClass]="transaction.type === 'Income' ? 'text-success' : 'text-danger'">{{ transaction.amount | currency: 'EUR'}}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary me-1" (click)="editTransaction(transaction)">
              <i class="bi bi-pencil-fill"></i>
            </button>

            <button class="btn btn-sm btn-outline-danger" (click)="deleteTransaction(transaction)">
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
