<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-opacity-75">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <a class="navbar-brand me-4" href="">
        <img ngSrc="/accounting.png" alt="Expense Logo" height="47" width="47">
        Expenses Tracker
      </a>
    </div>
    <div class="ms-auto">
      <a class="btn btn-outline-light me-2" [routerLink]="['/add']">
        <i class="fa-solid fa-circle-plus"></i>
        <!--i class="bi bi-plus-circle"></i-->
        Add Transaction
      </a>
      <a class="btn btn-outline-light me-2" [routerLink]="['/logout']">
        <i class="fa-solid fa-right-from-bracket"></i>
        <!--i class="bi bi-box-arrow-left me-1"></i-->
        Logout
      </a>
      <a class="btn btn-outline-light me-2" [routerLink]="['/login']">
        <i class="fa-solid fa-right-to-bracket"></i>
        <!--i class="bi bi-box-arrow-in-right me-1"></i-->
        Login
      </a>
    </div>
  </div>
</nav>
