<div class="wrapper">
  <h1>Oops!</h1>
  <h3 class="container">
    <span style="font-size: 2em;color: chocolate">
      <i class="fa-solid fa-triangle-exclamation"></i>
      404 Not Found
    </span>

  </h3>

  <p>
    Sorry. It seems that an error has occurred. Your requested page was not found.
  </p>
  <div class="buttons">
    <a class="btn btn-outline-primary" [routerLink]="['/transactions']">
      <i class="fa-solid fa-house"></i>
      Take me home
    </a>
    <a class="btn btn-outline-secondary" href="#">
      <i class="fa-solid fa-envelope"></i>
      Contact support
    </a>
    <br/>
  </div>
</div>
