<div class="wrapper">
  <h1><em>Oops!</em></h1>

  <div class="container alert-bg-color text-white m-3">
    <h2 class="text-center">
      <i class="fa-solid fa-triangle-exclamation"></i>
      <em>404 Not Found</em>
    </h2>
  </div>

  <p>
    <em>Sorry. It seems that an error has occurred. Your requested page was not found.</em>
  </p>
  <div class="buttons">
    <a class="btn btn-outline-primary" [routerLink]="['/transactions']">
      <i class="fa-solid fa-house"></i>
      <i><strong> Take me home</strong></i>
    </a>
    <a class="btn btn-outline-secondary" href="#">
      <i class="fa-solid fa-envelope"></i>
      <i><strong> Contact support</strong></i>
    </a>
    <br/>
  </div>
</div>
